<div class="sidebar">
    <img class="img" src="assets/images/user-logo.png"/>
    <h1 matSubheader>USER NAME</h1>
        <a mat-list-item class="nav-link" routerLink="/home/dashboard" routerLinkActive="active" >Dashboard</a>
    <a mat-list-item class="nav-link" routerLink="/home/sales" routerLinkActive="active">Sales</a>
    <a mat-list-item class="nav-link" routerLink="/home/purchased-items" routerLinkActive="active">Purchased Items</a>
    <a mat-list-item class="nav-link" routerLink="/home/suppliers" routerLinkActive="active">Suppliers</a>
    <a mat-list-item class="nav-link" routerLink="/home/stocks-list" routerLinkActive="active">Stocks</a>
    <!-- <a class="nav-link" routerLink="/home/items" routerLinkActive="active">Items</a> -->

    <!-- <div class="logout">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Logout</a>
    </div> -->
 </div>